* {
  box-sizing: border-box !important;
}
[class^="up-"] {
  font-size: 42px;
  transition: color 0.2s;
  width: 150px;
}
[class^="up-"]:hover {
  color: #666;
}
a {
  text-decoration: none;
}
body {
  background: #3d91be;
  color: #fff;
  font-family: Open Sans;
  margin: 0;
  text-align: center;
}
code {
  background: #FFF4BD;
  color: #333;
  display: block;
  padding: 5px;
  text-align: left;
}
#content {
  margin: 0 auto;
  max-width: 600px;
  text-align: justify;
  width: 90%;
}
#elements-demo {
  display: inline-block;
  margin-bottom: 30px;
  max-width: 1200px;
}
.element {
  background: #67caff;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  margin: 5px;
  width: 300px;
  padding: 20px 10px;
  text-align: left;
}
.element * {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.element-name {
  width: 120px;
}
header {
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1200px;
  width: 100%;
}
header img {
  width: 100%;
}
nav {
  background: #3d91be;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
#unicorn-menu {
  margin: 0;
  margin-left: -30px;
}
#unicorn-menu li {
  display: inline-block;
  line-height: 50px;
  font-size: 16px;
  margin: 0 1px;
}
#unicorn-menu li a {
  color: #fff;
  transition: color 0.2s;
}
#unicorn-menu li a:hover {
  color: #555;
}
