<div id="content">
	<ol>
		<li>Download the folder with the font you want into you project's folder.
			<ul>
				<li>
					<a href="https://github.com/AlanSanchezP/Unicorn/archive/programmers.zip">Download Unicorn Programmers</a>
				</li>
			</ul>
		</li>
		<li>Uncompress the .zip file.</li>
		<li>Import the font to your HTML document.
			<code>
				&lt;link rel="stylesheet" href="Unicorn-programmers/unicorn-programmers.css"&gt;
			</code>
		</li>
		<li>Just use the icons :D! CSS classes names are in the <a href="#/">Icons Section.</a></li>
	</ol>
</div>